.fade {
    margin: 230px;
    padding: 50px;
    background-color: rgba(144, 238, 144, 0);
    opacity: 100%;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    /* transition: 1s ease; */
  }
  body{
    background-image: url(image/gary-butterfield-XGKSeGYGP0A-unsplash.jpg);
    background-repeat: no-repeat;
   background-attachment:fixed;
    background-size: cover;
   color: #fff;
  }
